body {
  margin: 0px;
  background: var(--gray-10);
  height: 100vh;
  overflow: hidden;
}

#root {
  height: 100%;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, system-ui, Ubuntu, Droid Sans, sans-serif
}
