.sidebar {
  display: flex;
  height: 100%;
}

.sidebar-menu {
  width: 48px;
  height: 100%;
  border: 1px solid var(--gray-20);
}

.sidebar-icon {
  color: var(--gray-60);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  font-size: 24px;
  transition-duration: 100ms;
}

.sidebar-icon:hover, .sidebar-icon.selected {
  color: var(--gray-90);
}

.sidebar-icon.selected {
  box-shadow: 2px 0 0 #2d78d4 inset;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-20);
  margin-left: -1px;
}

.sidebar-content .tab-heading {
  padding-left: 20px;
}

.sidebar-content .tab-title {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  user-select: none;
}

.sidebar-content .tab-content {
  height: 100%;
}

.sidebar-content .tab-content:focus {
  outline: #2d78d4 solid 1px;
  outline-offset: -2px;
}